.header {
	padding: 10px 0;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}
.header-top .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
	padding-bottom: 25px;
}
.header-burger {
	display: none;
	position: relative;
	height: 30px;
	width: 200px;
}
.header-logo {
	width: 300px;
}
.header-logo img {
	display: block;
	max-width: 100%;
}
.header-content {
	width: calc(100% - 330px);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.header-content .logo-text {
	width: 100%;
	max-width: 230px;
	color: #ffffff;
	font-size: 12px;
	line-height: 1.2;
}
.header-content .phone {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.2;
}
.header-content .phone a {
	font-weight: 700;
	font-size: 18px;
	color: #ffffff;
}
.header-content .phone span {
	display: block;
	margin-top: 10px;
}
.header-btn {
	display: block;
	width: 100%;
	border: 1px solid #295bd8;
	max-width: 230px;
	padding: 14px 10px;
	text-align: center;
	color: #3c6de8;
	font-size: 16px;
	line-height: 1;
}
.header-nav > ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-nav > ul > li {
	position: relative;
	padding: 0 5px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
}
.header-nav > ul > li:first-child {
	padding-left: 0;
}
.header-nav > ul > li:last-child {
	padding-right: 0;
}
.header-nav > ul > li > a {
	color: #ffffff;
}
.header-nav > ul > li.li-drop {
	padding-right: 24px;
}
.header-nav > ul > li.li-drop:after {
	content: '';
	display: block;
	width: 18px;
	height: 12px;
	position: absolute;
	right: 3px;
	top: calc(50% - 6px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../i/arr-drop.png');
}

.ekr {
	padding: 50px 0;
}

.main-title {
	display: block;
	font-weight: 700;
	font-size: 60px;
	line-height: 1.2;
	width: 100%;
}
.title {
	display: block;
	font-weight: 700;
	font-size: 45px;
	line-height: 1.2;
	width: 100%;
}
.title span {
	color: #4274f0;
}
.title-line {
	position: relative;
	padding-left: 70px;
}
.title-line:before {
	content: '';
	display: block;
	width: 10px;
	height: calc(100% + 20px);
	position: absolute;
	left: 0;
	top: -10px;
	background-color: #ecf1f6;
}
.subtitle {
	display: block;
	font-size: 20px;
	line-height: 1.2;
}
.head-title {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-align: left;
}
.head-title .title {
	width: 600px;
}
.head-title .subtitle {
	width: calc(100% - 630px);
	margin-top: 0;
}

.btn {
	display: block;
	width: 100%;
	max-width: 270px;
	background-color: #295bd8;
	padding: 21px 10px;
	text-align: center;
	color: #ffffff;
	line-height: 1;
	font-size: 18px;
	border: 0;
}
.btn.more {
	padding: 21px 10px 17px;
	border-bottom: 4px solid #295bd8;
	background-color: transparent;
}

.face {
	text-align: left;
	color: #ffffff;
}
.face-slider {
	position: relative;
}
.face-slider .slick-arrow {
	position: absolute;
	border: 0;
	font-size: 0;
	background-color: transparent;
	bottom: 90px;
	z-index: 10;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 20px;
}
.face-slider .slick-prev {
	left: calc(50% + 455px);
	background-image: url('../i/arr-prev-1.png');
}
.face-slider .slick-next {
	left: calc(50% + 555px);
	background-image: url('../i/arr-next-1.png');
}
.face-slider .slick-list,
.face-slider .slick-track {
	height: 100%;
}
.face-slide {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 180px 0 90px;
}
.face-slide:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.7);
}
.face .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center;
	flex-wrap: wrap;
	min-height: calc(100vh - 270px);
	width: 100%;
	max-width: 570px;
}
.face .text {
	width: 100%;
	margin: 60px auto;
	font-size: 18px;
	line-height: 1.2;
}
.face .text ul li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
}
.face .text ul li:last-child {
	margin-bottom: 0;
}
.face .text ul li:before {
	content: '';
	display: block;
	width: 9px;
	height: 9px;
	background-color: #2e457f;
	position: absolute;
	left: 0;
	top: 6px;
}
.face-buttons {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}
.face-buttons .btn {
	width: calc(50% - 15px);
}

.services {
	text-align: left;
}
.services-top {
	padding: 80px 0 310px;
}
.services-bot {
	background-color: #ecf1f6;
	padding-bottom: 400px;
}
.services-bot .wrap {
	display: inline-block;
	width: 100%;
	margin-top: -250px;
}
.filter-services {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin-top: 70px;
	border-bottom: 1px solid #ebebeb;
}
.filter-services li {
	display: block;
	position: relative;
	margin-right: 100px;
	color: #929292;
	font-size: 18px;
	padding-bottom: 10px;
	cursor: pointer;
}
.filter-services li:last-child {
	margin-right: 0;
}
.filter-services li:before {
	content: '';
	display: block;
	width: 0;
	height: 4px;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #929292;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.filter-services li:hover:before {
	width: 100%;
}
.filter-services li.active:before {
	width: 100%;
	background-color: #295bd8;
}
.services-wrap {
	display: none;
}
.services-wrap.active {
	display: block;
}
.services-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.services-list li {
	position: relative;
	width: calc(25% - 22.5px);
	background-color: #ffffff;
	margin-right: 30px;
	margin-bottom: 30px;
	box-shadow: 0px 6px 27px 0px rgba(0, 13, 62, 0.15);
}
.services-list li:nth-child(4n) {
	margin-right: 0;
}
.services-list li .image {
	position: relative;
	height: 240px;
}
.services-list li .image img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.services-list li .content {
	padding: 20px;
}
.services-list li .name {
	display: block;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.2;
}
.services-list li .text {
	margin: 20px auto;
	font-size: 14px;
	line-height: 1.2;
}
.services-list li .services-more {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-right: 15px;
	color: #295bd8;
	font-size: 14px;
	line-height: 1;
}
.services-list li .services-more:before {
	content: '';
	display: block;
	width: 6px;
	height: 10px;
	position: absolute;
	right: 0;
	top: calc(50% - 5px);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../i/arr-more.png');
}

.calc {
	color: #ffffff;
	text-align: left;
}
.calc-wrap {
	display: inline-block;
	width: 100%;
	margin-top: -220px;
}
.calc-head {
	position: relative;
	padding: 50px 300px 50px 70px;
	margin-right: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.calc-head .calc-text {
	font-size: 18px;
	line-height: 1.2;
	margin-top: 40px;
}
.calc-head .abs-img {
	display: block;
	max-width: 400px;
	max-height: 610px;
	position: absolute;
	top: -45px;
	right: 0;
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}
.calc-form {
	padding: 35px 70px;
}
.calc-form .b-form {
	margin-left: 0;
}

.b-form {
	margin: 0 auto;
	max-width: 270px;
	text-align: center;
}
.b-input, .b-select {
	text-align: left;
	width: 100%;
	margin-bottom: 30px;
}
.b-input label, .b-select label {
	display: inline-block;
	font-size: 18px;
	color: #929292;
	margin-bottom: 10px;
}
.b-input input, .b-input textarea {
	display: block;
	width: 100%;
	font-size: 18px;
	color: #272727;
	font-family: 'ProximaNova', sans-serif;
}
.b-input input {
	padding: 10px 0;
	border: 0;
	border-bottom: 2px solid #295bd8;
}
.b-input textarea {
	resize: none;
}
.b-select .chosen-container {
	display: block;
	width: 100% !important;
	font-size: 18px;
}
.b-select .chosen-container-single .chosen-single {
	display: block;
	width: 100%;
	font-size: 18px;
	color: #272727;
	font-family: 'ProximaNova', sans-serif;
	padding: 10px 0;
	padding-right: 15px;
	border: 0;
	border-bottom: 2px solid #295bd8;
	border-radius: 0;
	height: auto;
	background: none;
	box-shadow: none;
}
.b-select .chosen-container-single .chosen-single span {
	width: 100%;
	margin: 0;
	line-height: 1;
}
.b-select .chosen-container .chosen-drop {
	border: 1px solid #295bd8;
	border-radius: 0;
	margin-top: 0;
}
.b-select .chosen-container .chosen-results {
	margin: 0;
	padding: 0;
	color: #272727;
}
.b-select .chosen-container .chosen-results li {
	font-size: 16px;
	line-height: 1.2;
}
.b-select .chosen-container .chosen-results li.highlighted {
	background: none;
	color: #295bd8;
}
.b-select .chosen-container .chosen-results li.result-selected {
	color: #ffffff;
	background-color: #295bd8;
}
.b-select .chosen-container-single .chosen-single div {
	width: 0;
	height: 0;
	top: calc(50% - 2.5px);
	right: 0;
	border: 5px solid transparent;
	border-top-color: #295bd8;
	border-bottom: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-select .chosen-container-single.chosen-with-drop .chosen-single div {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.b-text-img {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-text-img .image {
	width: calc(50% - 15px);
}
.b-text-img .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-text-img .text {
	width: calc(50% - 15px);
	text-align: left;
}
.b-text-img .text .text-wrap {
	margin-top: 50px;
	font-size: 14px;
	line-height: 1.5;
}
.b-text-img .text .text-wrap p {
	display: block;
	margin-bottom: 14px;
}
.b-text-img .text .text-wrap p:last-child {
	margin-bottom: 0;
}

.text-cards {
	margin-top: 70px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.text-cards .card {
	width: 50%;
	position: relative;
	padding: 45px;
	background-color: #0e1943;
	color: #ffffff;
	text-align: left;
}
.text-cards .card.light-blue {
	background-color: #295bd8;
}
.text-cards .card-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.3;
}
.text-cards .card-text {
	margin-top: 25px;
	font-size: 14px;
	line-height: 1.5;
}
.text-cards .card-text p {
	display: block;
	margin-bottom: 14px;
}
.text-cards .card-text p:last-child {
	margin-bottom: 0;
}

.partners {
	position: relative;
	padding-bottom: 50px;
	margin-top: 90px;
}
.partners .slick-dots {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	line-height: 0;
}
.partners .slick-dots li {
	display: inline-block;
	margin: 0 5px;
}
.partners .slick-dots li button {
	width: 10px;
	height: 10px;
	border: 0;
	border-radius: 50%;
	font-size: 0;
	background-color: #ecf1f6;
}
.partners .slick-dots li.slick-active button {
	background-color: #295bd8;
}
.partner {
	position: relative;
	height: 270px;
	border: 7px solid #ecf1f6;
	margin: 0 10px;
}
.partner img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.preim-block {
	padding: 90px 0 320px;
	background-color: #295bd8;
	color: #ffffff;
	text-align: left;
}
.preim-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 90px;
}
.preim-list li {
	position: relative;
	width: calc(50% - 15px);
	padding: 30px 30px 30px 170px;
	margin-bottom: 30px;
	border: 1px solid #ffffff;
	min-height: 100px;
}
.preim-list li .icon {
	display: block;
	max-width: 90px;
	max-height: 90px;
	position: absolute;
	left: 85px;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.preim-list li .preim-title {
	display: block;
	font-weight: 700;
	font-size: 21px;
	line-height: 1.2;
}
.preim-list li .text {
	margin-top: 25px;
	font-size: 14px;
	line-height: 1.5;
}
.preim-list li .text p {
	display: block;
	margin-bottom: 14px;
}
.preim-list li .text p:last-child {
	margin-bottom: 0;
}




@media screen and (max-width: 1280px){
	.header-logo {
		width: 240px;
	}
	.header-content {
		width: calc(100% - 270px);
	}

	.head-title .title {
		width: calc(60% - 15px);
	}
	.head-title .subtitle {
		width: calc(40% - 15px);
	}

	.face-slider .slick-prev {
		left: auto;
		right: 130px;
	}
	.face-slider .slick-next {
		left: auto;
		right: 30px;
	}

	.services-list li {
		width: calc(100%/3 - 20px);
	}
	.services-list li:nth-child(4n) {
		margin-right: 30px;
	}
	.services-list li:nth-child(3n) {
		margin-right: 0;
	}
}
@media screen and (max-width: 1024px){
	body .body-wrap {
		padding-top: 67px;
	}
	.header {
		position: fixed;
		background-color: #295bd8;
	}
	.header-bot, .header-content .logo-text, .header-btn {
		display: none;
	}
	.header-top .wrap {
		align-items: center;
		padding-bottom: 0;
	}
	.header-content {
		display: block;
		width: 200px;
	}
	.header-burger {
		display: block;
	}
	.header-content .phone {
		text-align: right;
	}
	.header-logo {
		width: 200px;
	}
	.mobile-menu .header-logo {
		display: block;
		margin: 0 auto 20px;
	}

	.face-slide {
		padding: 90px 0;
	}
	.face .wrap {
		min-height: calc(100vh - 247px);
	}

	.calc-head {
		margin-right: 0;
		padding: 50px 300px 50px 30px;
	}
	.calc-head .abs-img {
		max-width: 260px;
		max-height: 420px;
		top: 50%;
		right: 0;
		-webkit-transform: translate(0,-50%);
		-moz-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		transform: translate(0,-50%);
	}
}
@media screen and (max-width: 960px){
	.head-title {
		display: block;
	}
	.head-title .title {
		width: 100%;
	}
	.head-title .subtitle {
		width: 100%;
		margin-top: 30px;
	}

	.face-slider .slick-prev {
		right: 80px;
	}

	.services-list {
		justify-content: space-between;
	}
	.services-list li {
		width: calc(50% - 15px);
		margin-right: 0;
	}
	.services-list li:nth-child(4n) {
		margin-right: 0;
	}

	.partners {
		margin-top: 50px;
	}

	.preim-list li {
		width: 100%;
	}
}
@media screen and (max-width: 768px){
	body .body-wrap {
		padding-top: 57px;
	}

	.header-content, .header-burger {
		width: 150px;
	}
	.header-content .phone {
		font-size: 10px;
	}
	.header-content .phone a {
		font-size: 16px;
	}
	.header-content .phone span {
		margin-top: 5px;
	}

	.ekr {
		padding: 30px 0;
	}

	.main-title {
		font-size: 26px;
	}
	.title {
		font-size: 20px;
	}
	.title-line {
		padding-left: 20px;
	}
	.title-line:before {
		width: 5px;
		height: calc(100% + 10px);
		top: -5px;
	}
	.subtitle {
		margin-top: 20px;
		font-size: 16px;
	}
	.head-title .subtitle {
		margin-top: 20px;
	}

	.btn {
		font-size: 14px;
		padding: 18px 10px;
		margin: 0 auto;
	}
	.btn.more {
		padding: 18px 10px 14px;
	}

	.face-slide {
		padding: 80px 0;
	}
	.face .wrap {
		max-width: none;
		min-height: calc(100vh - 217px);
	}
	.face .text {
		margin: 30px auto;
		font-size: 14px;
	}
	.face .text ul li {
		padding-left: 16px;
	}
	.face .text ul li:before {
		width: 6px;
		height: 6px;
		top: 4px;
	}
	.face-buttons {
		max-width: 560px;
	}
	.face-buttons .btn {
		margin: 0;
		width: calc(50% - 10px);
	}
	.face-slider .slick-arrow {
		bottom: 30px;
	}
	.face-slider .slick-prev {
		right: auto;
		left: calc(50% - 40px);
	}
	.face-slider .slick-next {
		right: calc(50% - 40px);
	}

	.services-top {
		padding: 50px 0 280px;
	}
	.filter-services {
		margin-top: 30px;
	}
	.filter-services li {
		font-size: 14px;
		padding-bottom: 8px;
		margin-right: 30px;
	}
	.filter-services li:before {
		height: 2px;
	}
	.services-list li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.services-list li .content {
		padding: 15px;
	}
	.services-list li .name {
		font-size: 16px;
	}
	.services-list li .text {
		margin: 15px auto;
		font-size: 12px;
	}
	.services-list li .services-more {
		font-size: 12px;
		padding-right: 12px;
	}
	.services-list li .services-more:before {
		width: 5px;
		height: 8px;
		top: calc(50% - 4px);
	}

	.calc-head {
		padding: 15px;
	}
	.calc-head .calc-text {
		font-size: 14px;
		margin: 20px auto;
	}
	.calc-head .abs-img {
		position: relative;
		max-width: 100%;
		max-height: 300px;
		left: 0;
		top: 0;
		margin: 0 auto;
		-webkit-transform: translate(0,0);
		-moz-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
	.calc-form {
		padding: 30px 0;
	}
	.calc-form .b-form {
		margin-left: auto;
	}

	.b-input, .b-select {
		margin-bottom: 15px;
	}
	.b-input label, .b-select label {
		font-size: 14px;
		margin-bottom: 0;
	}
	.b-input input, .b-input textarea {
		font-size: 14px;
	}
	.b-select .chosen-container-single .chosen-single, .b-select .chosen-container {
		font-size: 14px;
	}
	.b-select .chosen-container .chosen-results li {
		font-size: 12px;
	}

	.b-text-img {
		display: block;
	}
	.b-text-img .image {
		width: 100%;
		margin-bottom: 20px;
	}
	.b-text-img .image img {
		max-height: 300px;
	}
	.b-text-img .text {
		width: 100%;
	}
	.b-text-img .text .text-wrap {
		font-size: 12px;
		margin-top: 20px;
	}
	.b-text-img .text .text-wrap p {
		margin-bottom: 12px;
	}

	.text-cards {
		margin-top: 30px;
	}
	.text-cards .card {
		padding: 20px;
	}
	.text-cards .card-title {
		font-size: 16px;
	}
	.text-cards .card-text {
		margin-top: 15px;
		font-size: 12px;
	}
	.text-cards .card-text p {
		margin-bottom: 12px;
	}

	.partners {
		margin-top: 30px;
		padding-bottom: 30px;
	}
	.partner {
		border-width: 5px;
		height: 200px;
		margin: 0 5px;
	}

	.preim-block {
		padding: 50px 0 270px;
	}
	.preim-list {
		margin-top: 30px;
	}
	.preim-list li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		padding: 20px 20px 20px 80px;
		min-height: 70px;
	}
	.preim-list li .icon {
		max-width: 60px;
		max-height: 60px;
		left: 40px;
	}
	.preim-list li .preim-title {
		font-size: 17px;
	}
	.preim-list li .text {
		margin-top: 15px;
		font-size: 12px;
	}
	.preim-list li .text p {
		margin-bottom: 12px;
	}
}
@media screen and (max-width: 560px){
	body .body-wrap {
		padding-top: 56px;
	}

	.header-logo {
		display: none;
	}

	.face .wrap {
		min-height: calc(100vh - 216px);
	}
	.face-buttons {
		display: block;
		max-width: none;
	}
	.face-buttons .btn {
		width: 100%;
		margin: 0 auto 10px;
	}
	.face-buttons .btn:last-child {
		margin-bottom: 0;
	}

	.services-list {
		display: block;
	}
	.services-list li {
		width: 100%;
	}
	.services-list li:last-child {
		margin-bottom: 0;
	}

	.text-cards {
		display: block;
	}
	.text-cards .card {
		width: 100%;
	}

	.partner {
		margin: 0;
	}

	.preim-list {
		display: block;
	}
	.preim-list li {
		width: 100%;
	}
	.preim-list li:last-child {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 460px){
	.filter-services {
		justify-content: space-between;
	}
	.filter-services li {
		margin-right: 0;
	}
}