.header {
	padding: 10px 0;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}
.header-top .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
	padding-bottom: 25px;
}
.header-burger {
	display: none;
	position: relative;
	height: 30px;
	width: 200px;
}
.header-logo {
	width: 300px;
}
.header-logo img {
	display: block;
	max-width: 100%;
}
.header-content {
	width: calc(100% - 330px);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.header-content .logo-text {
	width: 100%;
	max-width: 230px;
	color: #ffffff;
	font-size: 12px;
	line-height: 1.2;
}
.header-content .phone {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.2;
}
.header-content .phone a {
	font-weight: 700;
	font-size: 18px;
	color: #ffffff;
}
.header-content .phone span {
	display: block;
	margin-top: 10px;
}
.header-btn {
	display: block;
	width: 100%;
	border: 1px solid #295bd8;
	max-width: 230px;
	padding: 14px 10px;
	text-align: center;
	color: #3c6de8;
	font-size: 16px;
	line-height: 1;
}
.header-btn:hover {
	color: #ffffff;
	background-color: #295bd8;
}
.header-bot {
	position: relative;
}
.header-bot > .container {
	position: static;
}
.header-nav > ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.header-nav > ul > li {
	position: relative;
	padding: 0 5px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
}
.header-nav > ul > li:first-child {
	padding-left: 0;
}
.header-nav > ul > li:last-child {
	padding-right: 0;
}
.header-nav > ul > li > a {
	color: #ffffff;
}
.header-nav > ul > li > a:hover {
	opacity: 0.5;
}
.header-nav > ul > li.li-drop {
	padding-right: 24px;
}
.header-nav > ul > li.li-drop:after {
	content: '';
	display: block;
	width: 18px;
	height: 12px;
	position: absolute;
	right: 3px;
	top: calc(50% - 6px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../i/arr-drop.png');
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav > ul > li.li-drop:hover:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.header-nav > ul > li.li-drop .li-drop-block {
	display: none;
	padding-top: 15px;
	position: absolute;
	left: 0;
	top: 100%;
	max-height: calc(100vh - 108px);
	overflow-x: hidden;
	overflow-y: auto;
}
.header-nav > ul > li.li-drop:hover .li-drop-block {
	display: block;
}
.header-nav > ul > li.li-drop.no-hover .li-drop-block {
	display: none;
}
.header-nav > ul > li.li-drop .li-drop-block:before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: 25px;
	top: 5px;
	border: 10px solid transparent;
	border-bottom-color: #295bd8;
	border-top: 0;
}
.header-nav > ul > li.li-drop .drop-wrap {
	background-color: #ffffff;
	padding: 15px 10px;
	text-align: left;
	border-top: 5px solid #295bd8;
}
.header-nav > ul > li.li-drop .drop-wrap .drop-flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.header-nav > ul > li.li-drop .drop-wrap .drop-cat-list {
	padding-right: 10px;
	min-width: 250px;
}
.header-nav > ul > li.li-drop .drop-wrap .drop-cat-list > li {
	padding: 5px 0;
	font-size: 14px;
	color: #272727;
	text-transform: none;
}
.header-nav > ul > li.li-drop .drop-wrap .drop-cat-list > li.active {
	color: #295bd8;
}
.header-nav > ul > li.li-drop .drop-wrap .drop-cat-list > li.active > a,
.header-nav > ul > li.li-drop .drop-wrap .drop-cat-list > li > a:hover {
	color: #295bd8;
}
.header-nav > ul > li.li-drop .drop-wrap .drop-cat-wrap {
	display: none;
	position: relative;
	padding-left: 10px;
	background-color: #ffffff;
	text-align: left;
	border-left: 1px solid #ebebeb;
}
.header-nav > ul > li.li-drop .drop-wrap .drop-cat-wrap.active {
	display: block;
}
.header-nav > ul > li.li-drop .drop-wrap .drop-list {
	min-width: 250px;
}
.header-nav > ul > li.li-drop .drop-wrap .drop-list > li {
	padding: 5px 0;
	font-size: 14px;
	text-transform: none;
}
.header-nav > ul > li.li-drop .drop-wrap .drop-list > li > a:hover {
	color: #295bd8;
}

.footer {
	padding: 50px 0;
	text-align: left;
	background-color: #0e1943;
}
.footer-top {
	padding-bottom: 20px;
}
.footer-top .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-logo-wrap {
	width: 100%;
	max-width: 200px;
}
.footer-logo {
	width: 100%;
	max-width: 200px;
}
.footer-logo img {
	display: block;
	max-width: 100%;
}
.footer-social {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 30px;
}
.footer-social a {
	display: block;
	margin-right: 30px;
}
.footer-social a:last-child {
	margin-right: 0;
}
.footer-social a img {
	display: block;
	max-width: 30px;
	max-width: 30px;
}
.footer-nav {
	width: calc(100% - 270px);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.footer-nav ul {
	width: calc(25% - 15px);
}
.footer-nav ul li {
	font-size: 14px;
	line-height: 1.2;
	color: #ffffff;
	margin-bottom: 15px;
}
.footer-nav ul li a {
	color: #ffffff;
}
.footer-nav ul li a:hover {
	opacity: 0.5;
}
.footer-cookie {
	margin-top: 30px;
}
.footer-cookie p {
	display: block;
	padding: 15px 0;
	border-top: 1px solid #57628c;
	color: #5f6a95;
	font-size: 12px;
	line-height: 1.2;
}
.footer-cookie p a {
	color: #5f6a95;
}
.footer-cookie p a:hover {
	color: #ffffff;
}
.footer-mid {
	padding: 30px 0;
	background-color: #295bd8;
}
.footer-mid .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-mid .wrap p {
	display: block;
	padding-right: 30px;
	color: #ffffff;
	font-size: 14px;
	line-height: 1.2;
}
.footer-mid .wrap p:last-child {
	padding-right: 0;
}
.footer-mid .wrap p a {
	color: #ffffff;
}
.footer-bot {
	padding-top: 20px;
}
.footer-bot .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-info {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 670px;
}
.footer-info ul {
	width: calc(50% - 35px);
}
.footer-info ul li {
	font-size: 12px;
	line-height: 1.5;
	color: #5f6a95;
}
.footer-info ul li a {
	color: #5f6a95;
}
.footer-info ul li a:hover {
	color: #ffffff;
}
.footer-logo-dev {
	width: 100%;
	max-width: 135px;
	text-align: center;
	margin-left: 70px;
}
.footer-logo-dev p {
	display: block;
	font-size: 12px;
	line-height: 1.2;
	color: #5f6a95;
}
.footer-logo-dev img {
	display: block;
	max-width: 100%;
	margin: 10px auto 0;
}

.wa-btn {
	display: none;
	position: fixed;
	left: 10px;
	bottom: 10px;
	width: 100%;
	max-width: 143px;
	z-index: 90;
}
.wa-btn img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.breadcrumbs {
	width: 100%;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 118px;
}
.breadcrumbs ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 10px 0;
	border-top: 1px solid #324675;
}
.breadcrumbs ul li {
	color: #3b4b7c;
	font-size: 14px;
	margin-right: 5px;
}
.breadcrumbs ul li:last-child {
	margin-right: 0;
}
.breadcrumbs ul li a {
	color: #3b4b7c;
}
.breadcrumbs ul li a:hover {
	color: #546bb1;
}

.first-ekr {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 230px 0 130px;
	text-align: left;
	color: #ffffff;
	background-color: #0e1943;
}
.first-ekr.with-blackout:before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	left: 0;
	top: 0;
}
.first-ekr-flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.first-ekr-content {
	width: 580px;
}
.first-ekr-image {
	width: calc(100% - 610px);
	text-align: right;
}
.first-ekr-image img {
	display: block;
	max-width: 100%;
	margin-left: auto;
}
.first-ekr-text {
	font-size: 20px;
	line-height: 1.2;
	margin-top: 60px;
	max-width: 380px;
}
.first-ekr-text.big {
	max-width: 450px;
}
.first-ekr-text.small-margin {
	margin-top: 35px;
}
.first-ekr-text.small-margin + .btn {
	margin-top: 35px;
}
.first-ekr-buttons {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 55px;
	max-width: 570px;
}
.ekr {
	padding: 90px 0;
}
.ekr.left-align {
	text-align: left;
}
.ekr.ekr-small {
	padding-top: 10px;
}

.main-title {
	display: block;
	font-weight: 700;
	font-size: 60px;
	line-height: 1.2;
	width: 100%;
}
.title {
	display: block;
	font-weight: 700;
	font-size: 45px;
	line-height: 1.2;
	width: 100%;
}
.title span {
	color: #4274f0;
}
.title-line {
	position: relative;
	padding-left: 70px;
}
.title-line:before {
	content: '';
	display: block;
	width: 10px;
	height: calc(100% + 20px);
	position: absolute;
	left: 0;
	top: -10px;
	background-color: #ecf1f6;
}
.subtitle {
	display: block;
	font-size: 20px;
	line-height: 1.2;
}
.head-title {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-align: left;
}
.head-title .title {
	width: 600px;
}
.head-title .subtitle {
	width: calc(100% - 630px);
	margin-top: 0;
}

.btn {
	display: block;
	width: 100%;
	max-width: 270px;
	background-color: #295bd8;
	padding: 21px 10px;
	text-align: center;
	color: #ffffff;
	line-height: 1;
	font-size: 18px;
	border: 0;
}
.btn:hover {
	background-color: #1c3d92;
}
.btn.more {
	padding: 21px 10px 17px;
	border-bottom: 4px solid #295bd8;
	background-color: transparent;
}
.btn.more.gray {
	color: #295bd8;
	border-color: #ebebeb;
}
.btn.more:hover {
	background-color: transparent;
	border-color: #1c3d92;
}
.btn.more.gray:hover {
	border-color: #295bd8;
}
.btn.btn-green {
	background-color: #28b43e;
}
.btn.btn-green:hover {
	background-color: #1e882e;
}

.face {
	text-align: left;
	color: #ffffff;
}
.face-slider {
	position: relative;
}
.face-slider .slick-arrow {
	position: absolute;
	border: 0;
	font-size: 0;
	background-color: transparent;
	bottom: 90px;
	z-index: 10;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 20px;
}
.face-slider .slick-prev {
	left: calc(50% + 455px);
	background-image: url('../i/arr-prev-1.png');
}
.face-slider .slick-next {
	left: calc(50% + 555px);
	background-image: url('../i/arr-next-1.png');
}
.face-slider .slick-list,
.face-slider .slick-track {
	height: 100%;
}
.face-slide {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 180px 0 90px;
}
.face-slide:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.7);
}
.face .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center;
	flex-wrap: wrap;
	min-height: calc(100vh - 270px);
	width: 100%;
	max-width: 570px;
}
.face .text {
	width: 100%;
	margin: 60px auto;
	font-size: 18px;
	line-height: 1.2;
}
.face .text ul li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
}
.face .text ul li:last-child {
	margin-bottom: 0;
}
.face .text ul li:before {
	content: '';
	display: block;
	width: 9px;
	height: 9px;
	background-color: #2e457f;
	position: absolute;
	left: 0;
	top: 6px;
}
.face-buttons {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}
.face-buttons .btn {
	width: calc(50% - 15px);
}

.services {
	text-align: left;
}
.services-top {
	padding: 80px 0 310px;
}
.services-top.small {
	padding-top: 40px;
}
.services-top.gray {
	background-color: #ecf1f6;
}
.services-bot {
	background-color: #ecf1f6;
	padding-bottom: 400px;
}
.services-bot.white {
	background-color: #ffffff;
}
.services-bot.small {
	padding-bottom: 50px;
}
.services-bot .wrap {
	display: inline-block;
	width: 100%;
	margin-top: -250px;
}
.filter-services {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin-top: 70px;
	border-bottom: 1px solid #ebebeb;
}
.filter-services li {
	display: block;
	position: relative;
	margin-right: 100px;
	color: #929292;
	font-size: 18px;
	padding-bottom: 10px;
	cursor: pointer;
}
.filter-services li:hover {
	color: #295bd8;
}
.filter-services li:last-child {
	margin-right: 0;
}
.filter-services li:before {
	content: '';
	display: none;
	width: 100%;
	height: 4px;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #295bd8;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.filter-services li.active:before {
	display: block;
}
.services-wrap {
	display: none;
}
.services-wrap.active {
	display: block;
}
.services-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.services-list li {
	position: relative;
	width: calc(25% - 22.5px);
	background-color: #ffffff;
	margin-right: 30px;
	margin-bottom: 30px;
	box-shadow: 0px 6px 27px 0px rgba(0, 13, 62, 0.15);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.services-list li:nth-child(4n) {
	margin-right: 0;
}
.services-list li:hover {
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}
.services-list li .image {
	position: relative;
	height: 240px;
}
.services-list li .image img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.services-list li .content {
	padding: 20px;
}
.services-list li .name {
	display: block;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.2;
}
.services-list li .text {
	margin: 20px auto;
	font-size: 14px;
	line-height: 1.2;
}
.services-list li .services-more {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-right: 15px;
	color: #295bd8;
	font-size: 14px;
	line-height: 1;
}
.services-list li .services-more:before {
	content: '';
	display: block;
	width: 6px;
	height: 10px;
	position: absolute;
	right: 0;
	top: calc(50% - 5px);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../i/arr-more.png');
}

.calc {
	color: #ffffff;
	text-align: left;
}
.calc.gray {
	background-color: #ecf1f6;
}
.calc-wrap {
	display: inline-block;
	width: 100%;
	margin-top: -220px;
}
.calc-head {
	position: relative;
	padding: 50px 300px 50px 70px;
	margin-right: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.calc-head .calc-text {
	font-size: 18px;
	line-height: 1.2;
	margin-top: 40px;
}
.calc-head .abs-img {
	display: block;
	max-width: 400px;
	max-height: 610px;
	position: absolute;
	top: -45px;
	right: 0;
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}
.calc-form {
	padding: 35px 70px;
}
.calc-form .b-form {
	margin-left: 0;
}

.b-form {
	margin: 0 auto;
	max-width: 270px;
	text-align: center;
}
.b-input, .b-select {
	text-align: left;
	width: 100%;
	margin-bottom: 30px;
}
.b-input label, .b-select label {
	display: inline-block;
	font-size: 18px;
	color: #929292;
	margin-bottom: 10px;
}
.b-input input, .b-input textarea, .b-select select {
	display: block;
	width: 100%;
	font-size: 18px;
	color: #272727;
	font-family: 'ProximaNova', sans-serif;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.b-input input, .b-select select {
	padding: 10px 0;
	border: 0;
	border-bottom: 2px solid #295bd8;
}
.b-input.green input {
	border-color: #28b43e;
}
.b-select select {
	padding-right: 15px;
	background-position: center right;
	background-size: 10px;
	background-repeat: no-repeat;
	background-image: url('../i/down-arrow.svg');
}
.b-input textarea {
	resize: none;
}
.b-select .chosen-container {
	display: block;
	width: 100% !important;
	font-size: 18px;
}
.b-select .chosen-container-single .chosen-single {
	display: block;
	width: 100%;
	font-size: 18px;
	color: #272727;
	font-family: 'ProximaNova', sans-serif;
	padding: 10px 0;
	padding-right: 15px;
	border: 0;
	border-bottom: 2px solid #295bd8;
	border-radius: 0;
	height: auto;
	background: none;
	box-shadow: none;
}
.b-select .chosen-container-single .chosen-single span {
	width: 100%;
	margin: 0;
	line-height: 1;
}
.b-select .chosen-container .chosen-drop {
	border: 1px solid #295bd8;
	border-radius: 0;
	margin-top: 0;
}
.b-select .chosen-container .chosen-results {
	margin: 0;
	padding: 0;
	color: #272727;
}
.b-select .chosen-container .chosen-results li {
	font-size: 16px;
	line-height: 1.2;
}
.b-select .chosen-container .chosen-results li.highlighted {
	background: none;
	color: #295bd8;
}
.b-select .chosen-container .chosen-results li.result-selected {
	color: #ffffff;
	background-color: #295bd8;
}
.b-select .chosen-container-single .chosen-single div {
	width: 0;
	height: 0;
	top: calc(50% - 2.5px);
	right: 0;
	border: 5px solid transparent;
	border-top-color: #295bd8;
	border-bottom: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-select .chosen-container-single.chosen-with-drop .chosen-single div {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.b-text-img {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-text-img .image {
	width: calc(50% - 15px);
}
.b-text-img .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-text-img .text {
	width: calc(50% - 15px);
	text-align: left;
}
.b-text-img .text .text-wrap {
	margin-top: 50px;
	font-size: 14px;
	line-height: 1.5;
}
.b-text-img .text .text-wrap p {
	display: block;
	margin-bottom: 14px;
}
.b-text-img .text .text-wrap p:last-child {
	margin-bottom: 0;
}

.text-cards {
	margin-top: 70px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.text-cards .card {
	width: 50%;
	position: relative;
	padding: 45px;
	background-color: #0e1943;
	color: #ffffff;
	text-align: left;
}
.text-cards .card.light-blue {
	background-color: #295bd8;
}
.text-cards .card-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.3;
}
.text-cards .card-text {
	margin-top: 25px;
	font-size: 14px;
	line-height: 1.5;
}
.text-cards .card-text p {
	display: block;
	margin-bottom: 14px;
}
.text-cards .card-text p:last-child {
	margin-bottom: 0;
}

.partners {
	position: relative;
	padding-bottom: 50px;
	margin-top: 90px;
}
.partners .slick-dots {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	line-height: 0;
}
.partners .slick-dots li {
	display: inline-block;
	margin: 0 5px;
}
.partners .slick-dots li button {
	width: 10px;
	height: 10px;
	border: 0;
	border-radius: 50%;
	font-size: 0;
	background-color: #ecf1f6;
}
.partners .slick-dots li.slick-active button {
	background-color: #295bd8;
}
.partner {
	position: relative;
	height: 270px;
	border: 7px solid #ecf1f6;
	margin: 0 10px;
}
.partner img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.preim-block {
	padding: 90px 0 320px;
	background-color: #295bd8;
	color: #ffffff;
	text-align: left;
}
.preim-block.no-pad-bot {
	padding-bottom: 90px;
}
.preim-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 90px;
}
.preim-list li {
	position: relative;
	width: calc(50% - 15px);
	padding: 30px 30px 30px 170px;
	margin-bottom: 30px;
	border: 1px solid #ffffff;
	min-height: 100px;
}
.preim-list li .icon {
	display: block;
	max-width: 90px;
	max-height: 90px;
	position: absolute;
	left: 85px;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.preim-list li .preim-title {
	display: block;
	font-weight: 700;
	font-size: 21px;
	line-height: 1.2;
}
.preim-list li .text {
	margin-top: 25px;
	font-size: 14px;
	line-height: 1.5;
}
.preim-list li .text p {
	display: block;
	margin-bottom: 14px;
}
.preim-list li .text p:last-child {
	margin-bottom: 0;
}

.services-nav {
	padding: 100px 0 380px;
	text-align: left;
}
.services-nav.no-pad-top {
	padding-top: 10px;
}
.services-nav-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.services-nav-wrap.with-margin {
	margin-top: 70px;
}
.services-nav-item {
	width: calc(50% - 15px);
	border: 9px solid #ecf1f6;
	padding: 50px 90px;
}
.services-nav-item .item-title {
	display: block;
	font-size: 22px;
	font-weight: 700;
}
.services-nav-item ul {
	margin-top: 45px;
}
.services-nav-item ul li {
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 18px;
}
.services-nav-item ul li:last-child {
	margin-bottom: 0;
}
.services-nav-item ul li a {
	position: relative;
	display: inline-block;
	padding-left: 40px;
}
.services-nav-item ul li a:before {
	content: '';
	display: block;
	width: 20px;
	height: 2px;
	background-color: #959595;
	position: absolute;
	left: 0;
	top: 9px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.services-nav-item ul li a:hover {
	color: #295bd8;
}
.services-nav-item ul li a:hover:before {
	left: -5px;
	background-color: #295bd8;
}

.products {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.product {
	position: relative;
	width: calc(100%/3 - 20px);
	background-color: #ffffff;
	margin-right: 30px;
	margin-bottom: 30px;
	box-shadow: 0px 6px 27px 0px rgba(0, 13, 62, 0.15);
	text-align: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.product:hover {
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}
.product:nth-child(3n) {
	margin-right: 0;
}
.product .image {
	position: relative;
	height: 280px;
}
.product .image img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.product .content {
	padding: 0 30px 30px;
}
.product .name {
	display: block;
	font-size: 22px;
	font-weight: 700;
}
.product .name a:hover {
	color: #295bd8;
}
.product ul {
	margin-top: 25px;
}
.product ul li {
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 18px;
}
.product ul li:last-child {
	margin-bottom: 0;
}
.product ul li a {
	position: relative;
	display: inline-block;
	padding-left: 40px;
}
.product ul li a:before {
	content: '';
	display: block;
	width: 20px;
	height: 2px;
	background-color: #959595;
	position: absolute;
	left: 0;
	top: 9px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.product ul li a:hover {
	color: #295bd8;
}
.product ul li a:hover:before {
	left: -5px;
	background-color: #295bd8;
}

.products-cat {
	padding: 130px 0;
	background-color: #ecf1f6;
}
.products-cat-list li {
	position: relative;
	margin: 0 auto 70px;
	background-color: #ffffff;
	padding: 45px 80px 45px 330px;
	min-height: 140px;
	max-width: 830px;
	text-align: left;
}
.products-cat-list li:last-child {
	margin-bottom: 0;
}
.products-cat-list li .image {
	position: absolute;
	left: -70px;
	top: -15px;
	width: 300px;
	height: calc(100% + 30px);
	box-shadow: 0px 3px 29px 0px rgba(14, 25, 67, 0.15);
	background-color: #ffffff;
}
.products-cat-list li .image img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.products-cat-list .name {
	display: block;
	font-size: 22px;
	font-weight: 700;
}
.products-cat-list .text {
	font-size: 18px;
	line-height: 1.2;
	margin-top: 40px;
}
.products-cat-list .text p {
	display: block;
	margin-bottom: 18px;
}
.products-cat-list .text p:last-child {
	margin-bottom: 0;
}
.products-cat-list li .more {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-right: 15px;
	color: #295bd8;
	font-size: 18px;
	line-height: 1;
	margin-top: 40px;
}
.products-cat-list li .more:before {
	content: '';
	display: block;
	width: 6px;
	height: 10px;
	position: absolute;
	right: 0;
	top: calc(50% - 5px);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../i/arr-more.png');
}

.cat-descr {
	padding: 80px 0 330px;
	text-align: left;
}
.cat-descr-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 30px;
}
.cat-descr-wrap .image {
	width: calc(50% - 15px);
	order: 1;
}
.cat-descr-wrap .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.cat-descr-wrap .text {
	width: calc(50% - 15px);
	font-size: 16px;
	line-height: 1.5;
	margin-top: 20px;
}
.cat-descr-wrap .text p {
	display: block;
	margin-bottom: 16px;
}
.cat-descr-wrap .text p:last-child {
	margin-bottom: 0;
}

.sertificates, .docs {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 70px;
}
.sertificates li, .docs li {
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-bottom: 30px;
}
.sertificates li:nth-child(4n), .docs li:nth-child(4n) {
	margin-right: 0;
}
.sertificates li a, .docs li a {
	display: block;
}
.sertificates li a img, .docs li a img {
	display: block;
	max-width: 100%;
}
.sertificates li a p, .docs li a .name {
	display: block;
	margin-top: 15px;
	font-size: 14px;
	line-height: 1.2;
}
.docs li a .size {
	margin-top: 10px;
	color: #979797;
	font-size: 14px;
	line-height: 1.2;
}

.news-wrap {
	position: relative;
	margin-top: 70px;
	padding-right: 570px;
}
.news-text {
	font-size: 14px;
	line-height: 1.2;
}
.news-text img {
	display: block;
	max-width: 100%;
	margin: 30px 0;
}
.news-text p {
	display: block;
	margin: 14px auto;
}
.news-text p:first-child, .news-text img:first-child {
	margin-top: 0;
}
.news-text p:last-child, .news-text img:last-child {
	margin-bottom: 0;
}
.news-fix {
	position: absolute;
	right: 0;
	top: 0;
	border: 9px solid #ecf1f6;
	padding: 30px 20px;
	width: 100%;
	max-width: 470px;
	text-align: center;
}
.news-fix.scroll {
	position: fixed;
	right: calc(50% - 585px);
	top: 30px;
}
.news-fix.bottom {
	top: auto;
	bottom: 0;
}
.news-fix .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.news-fix .name {
	font-weight: 700;
	font-size: 22px;
	line-height: 1.2;
	margin-top: 30px;
	margin-bottom: 45px;
}

.thank {
	padding-top: 118px;
}
.thank:before {
	content: '';
	width: 100%;
	height: 118px;
	background-color: #0e1943;
	position: absolute;
	left: 0;
	top: 0;
}
.thank .wrap {
	padding: 50px 0;
	min-height: calc(100vh - 118px);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}
.thank .wrap .content {
	width: calc(50% + 60px);
	text-align: left;
}
.thank .wrap .content .thank-text {
	margin-top: 40px;
	font-size: 16px;
	line-height: 1.2;
}
.thank .wrap .image {
	width: calc(50% - 90px);
	text-align: right;
}
.thank .wrap .image img {
	display: block;
	max-width: 100%;
	margin-left: auto;
}

.service-descr {
	text-align: left;
	padding: 70px 0 290px;
}
.service-descr-text {
	font-size: 14px;
	line-height: 1.2;
}
.service-descr-text ul li {
	position: relative;
	padding-left: 20px;
}
.service-descr-text ul li:before {
	content: '';
	width: 5px;
	height: 5px;
	background-color: #295bd8;
	position: absolute;
	left: 0;
	top: 6px;
}
.service-descr-text img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.news-list li {
	position: relative;
	padding: 40px 100px 30px 230px;
	background-color: #ecf1f6;
	width: 100%;
	max-width: 1030px;
	margin: 0 auto 50px;
	text-align: left;
}
.news-list li:last-child {
	margin-bottom: 0;
}
.news-list li .image {
	width: 175px;
	position: absolute;
	left: 0;
	top: -10px;
	box-shadow: 0px 3px 16px 0px rgba(14, 25, 67, 0.2);
}
.news-list li .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.news-list li .name {
	font-size: 16px;
	line-height: 1.2;
}
.news-list li .news-list-flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}
.news-list li .more {
	font-size: 14px;
	color: #295bd8;
}
.news-list li .date {
	font-size: 14px;
	color: #a2acc4;
}

.gallery-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.gallery-list li {
	width: calc(100%/3 - 20px);
	margin-right: 30px;
	margin-bottom: 30px;
}
.gallery-list li:nth-child(3n) {
	margin-right: 0;
}
.gallery-list li img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.gallery-list li p {
	display: block;
	font-size: 16px;
	margin-top: 15px;
}
.gallery-list + .btn {
	margin: 20px auto 0;
}

.contacts-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 70px;
}
.contacts-list li {
	width: calc(100%/3 - 20px);
	margin-right: 30px;
	margin-bottom: 30px;
	padding: 30px;
	background-color: #ecf1f6;
}
.contacts-list li:nth-child(3n) {
	margin-right: 0;
}
.contacts-list li .name {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
}
.contacts-list li .text {
	margin-top: 30px;
	font-size: 18px;
	line-height: 1.2;
}

.contacts-items {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 70px;
}
.contacts-items .item {
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-bottom: 30px;
}
.contacts-items .item:nth-child(4n) {
	margin-right: 0;
}
.contacts-items .item .image {
	position: relative;
	height: 270px;
	background-color: #ebebeb;
}
.contacts-items .item .image img {
	display: block;
	position: absolute;
	max-width: 95%;
	max-height: 95%;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.contacts-items .item .name {
	font-weight: 700;
	margin-top: 20px;
	font-size: 20px;
	line-height: 1.2;
}
.contacts-items .item .position {
	font-size: 14px;
	margin-top: 14px;
	line-height: 1.2;
}
.contacts-items .item ul {
	margin-top: 14px;
}
.contacts-items .item ul li {
	position: relative;
	padding-left: 20px;
	font-size: 14px;
	line-height: 1.3;
}
.contacts-items .item ul li:before {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	left: 0;
	top: 6px;
	background-color: #295bd8;
}

.map {
	position: relative;
	height: 500px;
}
.map iframe {
	display: block;
}

.anim-img-wrap {
	position: relative;
	display: inline-block;
}
.anim-img {
	display: block;
	max-width: 40% !important;
	position: absolute;
	left: -20%;
	bottom: -10%;
}
.anim-img.big {
	max-width: 62% !important;
	left: -31%;
	bottom: -15%;
}

.popup {
	padding: 50px 30px;
	background-color: #ffffff;
	width: 95%;
	max-width: 460px;
	text-align: center;
}
.popup.popup-big {
	max-width: 760px;
	text-align: left;
}
.popup-title {
	display: block;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
}
.popup-subtitle {
	display: block;
	font-size: 20px;
	line-height: 1.2;
	margin-top: 15px;
}
.popup .b-form {
	margin-top: 40px;
}
.popup-text {
	margin-top: 30px;
	font-size: 16px;
	line-height: 1.2;
}
.popup-text p {
	display: block;
}




@media screen and (max-width: 1280px){
	.header-logo {
		width: 240px;
	}
	.header-content {
		width: calc(100% - 270px);
	}
	.header-nav > ul > li.li-drop .drop-wrap .drop-list {
		justify-content: space-between;
	}
	.header-nav > ul > li.li-drop .drop-wrap .drop-list > li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.head-title .title {
		width: calc(60% - 15px);
	}
	.head-title .subtitle {
		width: calc(40% - 15px);
	}

	.face-slider .slick-prev {
		left: auto;
		right: 130px;
	}
	.face-slider .slick-next {
		left: auto;
		right: 30px;
	}

	.services-list li {
		width: calc(100%/3 - 20px);
	}
	.services-list li:nth-child(4n) {
		margin-right: 30px;
	}
	.services-list li:nth-child(3n) {
		margin-right: 0;
	}

	.services-nav-item {
		padding: 40px;
	}

	.news-wrap {
		padding-right: 500px;
	}
	.news-fix.scroll {
		right: 30px;
	}
}
@media screen and (max-width: 1024px){
	body .body-wrap {
		padding-top: 67px;
	}
	.header {
		position: fixed;
		background-color: #295bd8;
	}
	.header-bot, .header-content .logo-text, .header-btn {
		display: none;
	}
	.header-top .wrap {
		align-items: center;
		padding-bottom: 0;
	}
	.header-content {
		display: block;
		width: 200px;
	}
	.header-burger {
		display: block;
	}
	.header-content .phone {
		text-align: right;
	}
	.header-logo {
		width: 200px;
	}
	.mobile-menu .header-logo {
		display: block;
		margin: 0 auto 20px;
	}

	.footer-nav {
		width: calc(100% - 230px);
	}
	.footer-nav ul {
		width: calc(50% - 10px);
	}

	.breadcrumbs {
		top: 80px;
	}

	.first-ekr {
		padding: 120px 0;
	}
	.first-ekr-flex {
		display: block;
	}
	.first-ekr-content {
		width: 100%;
		max-width: 580px;
	}
	.first-ekr-image {
		display: none;
	}

	.face-slide {
		padding: 90px 0;
	}
	.face .wrap {
		min-height: calc(100vh - 247px);
	}

	.calc-head {
		margin-right: 0;
		padding: 50px 300px 50px 30px;
	}
	.calc-head .abs-img {
		max-width: 260px;
		max-height: 420px;
		top: 50%;
		right: 0;
		-webkit-transform: translate(0,-50%);
		-moz-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		transform: translate(0,-50%);
	}

	.products {
		justify-content: space-between;
	}
	.product {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.products-cat-list li .image {
		left: 0;
	}

	.sertificates li, .docs li {
		width: calc(100%/3 - 20px);
	}
	.sertificates li:nth-child(4n), .docs li:nth-child(4n) {
		margin-right: 30px;
	}
	.sertificates li:nth-child(3n), .docs li:nth-child(3n) {
		margin-right: 0;
	}

	.news-wrap {
		padding-right: 390px;
	}
	.news-fix {
		max-width: 360px;
	}
	.news-fix.scroll {
		top: 97px;
	}

	.thank {
		padding-top: 0;
	}
	.thank:before {
		display: none;
	}
	.thank .wrap {
		min-height: calc(100vh - 67px);
	}

	.contacts-list {
		justify-content: space-between;
	}
	.contacts-list li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.contacts-items .item {
		width: calc(100%/3 - 20px);
	}
	.contacts-items .item:nth-child(4n) {
		margin-right: 30px;
	}
	.contacts-items .item:nth-child(3n) {
		margin-right: 0;
	}

	.anim-img {
		transform: translate(0,0) !important;
	}
}
@media screen and (max-width: 960px){
	.head-title {
		display: block;
	}
	.head-title .title {
		width: 100%;
	}
	.head-title .subtitle {
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}

	.footer-mid .wrap {
		display: block;
	}
	.footer-mid .wrap p {
		padding: 0;
		margin-bottom: 14px;
	}
	.footer-mid .wrap p:last-child {
		margin-bottom: 0;
	}
	.footer-info {
		display: block;
		max-width: 300px;
	}
	.footer-info ul {
		width: 100%;
	}
	.footer-logo-dev {
		margin-left: 30px;
	}

	.face-slider .slick-prev {
		right: 80px;
	}

	.services-list {
		justify-content: space-between;
	}
	.services-list li {
		width: calc(50% - 15px);
		margin-right: 0;
	}
	.services-list li:nth-child(4n) {
		margin-right: 0;
	}

	.partners {
		margin-top: 50px;
	}

	.preim-list li {
		width: 100%;
	}

	.services-nav-item {
		width: calc(50% - 10px);
		padding: 30px;
	}

	.gallery-list {
		justify-content: space-between;
	}
	.gallery-list li {
		width: calc(50% - 15px);
		margin-right: 0;
	}
}
@media screen and (max-width: 768px){
	body .body-wrap {
		padding-top: 57px;
	}

	.header-content, .header-burger {
		width: 150px;
	}
	.header-content .phone {
		font-size: 10px;
	}
	.header-content .phone a {
		font-size: 16px;
	}
	.header-content .phone span {
		margin-top: 5px;
	}

	.footer {
		padding: 30px 0;
	}
	.footer-top {
		padding-bottom: 5px;
	}
	.footer-top .wrap {
		display: block;
	}
	.footer-logo-wrap {
		margin: 0 auto 30px;
	}
	.footer-social {
		justify-content: center;
		margin-top: 20px;
	}
	.footer-social a {
		margin-right: 15px;
	}
	.footer-social a img {
		max-width: 20px;
		max-height: 20px;
	}
	.footer-nav {
		width: 100%;
	}
	.footer-cookie {
		margin-top: 15px;
	}
	.footer-mid {
		padding: 20px 0;
	}

	.wa-btn {
		display: block;
	}

	.breadcrumbs {
		top: 70px;
	}
	.breadcrumbs ul {
		padding: 5px 0;
	}
	.breadcrumbs ul li {
		font-size: 10px;
		margin-right: 4px;
	}

	.first-ekr {
		padding: 70px 0;
	}
	.first-ekr-text {
		font-size: 16px;
		margin-top: 20px;
		max-width: 310px;
	}
	.first-ekr-text.big {
		max-width: 360px;
	}
	.first-ekr-text.small-margin {
		margin-top: 15px;
	}
	.first-ekr-text.small-margin + .btn {
		margin-left: 0;
		margin-top: 15px;
	}
	.first-ekr-buttons {
		margin-top: 20px;
		max-width: 560px;
	}
	.first-ekr-buttons .btn {
		margin: 0;
		width: calc(50% - 10px);
	}
	.ekr {
		padding: 50px 0;
	}

	.main-title {
		font-size: 26px;
	}
	.title {
		font-size: 20px;
	}
	.title-line {
		padding-left: 20px;
	}
	.title-line:before {
		width: 5px;
		height: calc(100% + 10px);
		top: -5px;
	}
	.subtitle {
		margin-top: 20px;
		font-size: 16px;
	}
	.head-title .subtitle {
		margin-top: 20px;
	}

	.btn {
		font-size: 14px;
		padding: 18px 10px;
		margin: 0 auto;
	}
	.btn.more {
		padding: 18px 10px 14px;
	}

	.face-slide {
		padding: 80px 0;
	}
	.face .wrap {
		max-width: none;
		min-height: calc(100vh - 217px);
	}
	.face .text {
		margin: 30px auto;
		font-size: 14px;
	}
	.face .text ul li {
		padding-left: 16px;
	}
	.face .text ul li:before {
		width: 6px;
		height: 6px;
		top: 4px;
	}
	.face-buttons {
		max-width: 560px;
	}
	.face-buttons .btn {
		margin: 0;
		width: calc(50% - 10px);
	}
	.face-slider .slick-arrow {
		bottom: 30px;
	}
	.face-slider .slick-prev {
		right: auto;
		left: calc(50% - 40px);
	}
	.face-slider .slick-next {
		right: calc(50% - 40px);
	}

	.services-top {
		padding: 50px 0 280px;
	}
	.services-top.small {
		padding-top: 20px;
	}
	.services-bot {
		padding-bottom: 250px;
	}
	.filter-services {
		margin-top: 30px;
	}
	.filter-services li {
		font-size: 14px;
		padding-bottom: 8px;
		margin-right: 30px;
	}
	.filter-services li:before {
		height: 2px;
	}
	.services-list li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.services-list li:hover {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	.services-list li .content {
		padding: 15px;
	}
	.services-list li .name {
		font-size: 16px;
	}
	.services-list li .text {
		margin: 15px auto;
		font-size: 12px;
	}
	.services-list li .services-more {
		font-size: 12px;
		padding-right: 12px;
	}
	.services-list li .services-more:before {
		width: 5px;
		height: 8px;
		top: calc(50% - 4px);
	}

	.calc-head {
		padding: 15px;
		text-align: center;
	}
	.calc-head .calc-text {
		font-size: 14px;
		margin: 20px auto;
	}
	.calc-head .abs-img {
		position: relative;
		max-width: 100%;
		max-height: 300px;
		left: 0;
		top: 0;
		margin: 0 auto;
		-webkit-transform: translate(0,0);
		-moz-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
	.calc-form {
		padding: 30px 0;
	}
	.calc-form .b-form {
		margin-left: auto;
	}

	.b-input, .b-select {
		margin-bottom: 15px;
	}
	.b-input label, .b-select label {
		font-size: 14px;
		margin-bottom: 0;
	}
	.b-input input, .b-input textarea, .b-select select {
		font-size: 14px;
	}
	.b-select .chosen-container-single .chosen-single, .b-select .chosen-container {
		font-size: 14px;
	}
	.b-select .chosen-container .chosen-results li {
		font-size: 12px;
	}

	.b-text-img {
		display: block;
	}
	.b-text-img .image {
		width: 100%;
		margin-bottom: 20px;
	}
	.b-text-img .image img {
		max-height: 300px;
	}
	.b-text-img .text {
		width: 100%;
	}
	.b-text-img .text .text-wrap {
		font-size: 12px;
		margin-top: 20px;
	}
	.b-text-img .text .text-wrap p {
		margin-bottom: 12px;
	}

	.text-cards {
		margin-top: 30px;
	}
	.text-cards .card {
		padding: 20px;
	}
	.text-cards .card-title {
		font-size: 16px;
	}
	.text-cards .card-text {
		margin-top: 15px;
		font-size: 12px;
	}
	.text-cards .card-text p {
		margin-bottom: 12px;
	}

	.partners {
		margin-top: 30px;
		padding-bottom: 30px;
	}
	.partner {
		border-width: 5px;
		height: 200px;
		margin: 0 5px;
	}

	.preim-block {
		padding: 50px 0 270px;
	}
	.preim-block.no-pad-bot {
		padding-bottom: 50px;
	}
	.preim-list {
		margin-top: 30px;
	}
	.preim-list li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		padding: 20px 20px 20px 80px;
		min-height: 70px;
	}
	.preim-list li .icon {
		max-width: 60px;
		max-height: 60px;
		left: 40px;
	}
	.preim-list li .preim-title {
		font-size: 17px;
	}
	.preim-list li .text {
		margin-top: 15px;
		font-size: 12px;
	}
	.preim-list li .text p {
		margin-bottom: 12px;
	}

	.services-nav {
		padding: 50px 0 270px;
	}
	.services-nav-wrap.with-margin {
		margin-top: 30px;
	}
	.services-nav-item {
		border-width: 5px;
		padding: 20px;
	}
	.services-nav-item .item-title {
		font-size: 16px;
	}
	.services-nav-item ul {
		margin-top: 25px;
	}
	.services-nav-item ul li {
		font-size: 14px;
		margin-bottom: 14px;
	}
	.services-nav-item ul li a {
		padding-left: 30px;
	}
	.services-nav-item ul li a:before {
		width: 15px;
		top: 7px;
	}

	.product {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.product:hover {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	.product .content {
		padding: 0 15px 15px;
	}
	.product .name {
		font-size: 16px;
	}
	.product ul {
		margin-top: 15px;
	}
	.product ul li {
		font-size: 14px;
		margin-bottom: 14px;
	}
	.product ul li a {
		padding-left: 30px;
	}
	.product ul li a:before {
		width: 15px;
		top: 7px;
	}

	.products-cat {
		padding: 50px 0;
	}
	.products-cat-list li {
		padding: 0 20px 20px;
		margin-bottom: 40px;
	}
	.products-cat-list li .image {
		position: relative;
		left: 0;
		top: -20px;
		width: 100%;
		height: 280px;
	}
	.products-cat-list .name {
		font-size: 16px;
	}
	.products-cat-list .text {
		margin-top: 15px;
		font-size: 14px;
	}
	.products-cat-list .text p {
		margin-bottom: 14px;
	}
	.products-cat-list li .more {
		font-size: 14px;
		margin-top: 15px;
	}

	.cat-descr {
		padding: 50px 0 300px;
	}
	.cat-descr-wrap {
		display: block;
		margin-top: 20px;
	}
	.cat-descr-wrap .image {
		width: 100%;
	}
	.cat-descr-wrap .image img {
		max-height: 300px;
	}
	.cat-descr-wrap .text {
		width: 100%;
		font-size: 12px;
	}
	.cat-descr-wrap .text p {
		margin-bottom: 12px;
	}

	.sertificates, .docs {
		justify-content: space-between;
		margin-top: 30px;
	}
	.sertificates li, .docs li {
		width: calc(50% - 10px);
		margin-right: 0;
		margin-bottom: 20px;
	}
	.sertificates li:nth-child(4n), .docs li:nth-child(4n) {
		margin-right: 0;
	}
	.sertificates li a img {
		max-height: 300px;
	}
	.sertificates li a p, .docs li a .name {
		font-size: 12px;
		margin-top: 10px;
	}
	.docs li a .size {
		margin-top: 5px;
		font-size: 12px;
	}

	.news-wrap {
		margin-top: 30px;
		padding-right: 0;
	}
	.news-fix {
		position: relative !important;
		margin: 30px auto 0;
		top: 0 !important;
		left: 0 !important;
		border-width: 5px;
	}
	.news-fix .name {
		font-size: 18px;
		margin: 15px auto 20px;
	}

	.thank .wrap {
		min-height: calc(100vh - 56px);
	}
	.thank .wrap .content {
		width: 100%;
		text-align: center;
	}
	.thank .wrap .content .thank-text {
		margin-top: 20px;
		font-size: 14px;
	}
	.thank .wrap .image {
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	.thank .wrap .image img {
		margin: 0 auto;
		max-height: 200px;
	}

	.service-descr {
		padding: 50px 0 270px;
	}
	.service-descr-text {
		font-size: 12px;
	}
	.service-descr-text ul li {
		padding-left: 15px;
	}
	.service-descr-text ul li:before {
		top: 4px;
	}

	.news-list li {
		padding: 30px;
		text-align: center;
		margin: 0 auto 30px;
	}
	.news-list li .image {
		display: inline-block;
		width: 100%;
		max-width: 175px;
		margin-top: -40px;
		margin-bottom: 20px;
		position: relative;
		top: 0;
	}
	.news-list li .news-list-flex {
		margin-top: 20px;
	}

	.gallery-list li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.gallery-list li img {
		max-height: 300px;
	}
	.gallery-list li p {
		font-size: 14px;
		margin-top: 10px;
	}
	.gallery-list + .btn {
		margin-top: 0;
	}

	.contacts-list {
		margin-top: 30px;
	}
	.contacts-list li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.contacts-list li .name {
		font-size: 16px;
	}
	.contacts-list li .text {
		font-size: 14px;
		margin-top: 15px;
	}

	.contacts-items {
		justify-content: space-between;
		margin-top: 30px;
	}
	.contacts-items .item {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		margin-right: 0;
	}
	.contacts-items .item:nth-child(4n) {
		margin-right: 0;
	}
	.contacts-items .item .image {
		height: 200px;
	}
	.contacts-items .item .name {
		margin-top: 15px;
		font-size: 16px;
	}
	.contacts-items .item .position, .contacts-items .item ul li {
		font-size: 12px;
	}
	.contacts-items .item .position, .contacts-items .item ul {
		margin-top: 10px;
	}
	.contacts-items .item ul li {
		padding-left: 15px;
	}
	.contacts-items .item ul li:before {
		top: 4px;
	}

	.map {
		height: 350px;
	}

	.popup {
		padding: 40px 15px;
	}
	.popup-title {
		font-size: 24px;
	}
	.popup-subtitle {
		font-size: 18px;
	}
	.popup .b-form {
		margin-top: 30px;
	}
	.popup-text {
		margin-top: 20px;
		font-size: 14px;
	}
}
@media screen and (max-width: 560px){
	body .body-wrap {
		padding-top: 56px;
	}

	.header-logo {
		display: none;
	}

	.footer-nav {
		display: block;
		text-align: center;
	}
	.footer-nav ul {
		width: 100%;
	}
	.footer-cookie {
		margin-top: 30px;
	}
	.footer-bot .wrap {
		display: block;
	}
	.footer-info {
		text-align: center;
		margin: 0 auto 20px;
	}
	.footer-logo-dev {
		margin: 0 auto;
	}

	.first-ekr-buttons {
		display: block;
		max-width: none;
	}
	.first-ekr-buttons .btn {
		width: 100%;
		margin: 0 auto 10px;
	}
	.first-ekr-buttons .btn:last-child {
		margin-bottom: 0;
	}

	.face .wrap {
		min-height: calc(100vh - 216px);
	}
	.face-buttons {
		display: block;
		max-width: none;
	}
	.face-buttons .btn {
		width: 100%;
		margin: 0 auto 10px;
	}
	.face-buttons .btn:last-child {
		margin-bottom: 0;
	}

	.services-list {
		display: block;
	}
	.services-list li {
		width: 100%;
	}
	.services-list li:last-child {
		margin-bottom: 0;
	}

	.text-cards {
		display: block;
	}
	.text-cards .card {
		width: 100%;
	}

	.partner {
		margin: 0;
	}

	.preim-list {
		display: block;
	}
	.preim-list li {
		width: 100%;
	}
	.preim-list li:last-child {
		margin-bottom: 0;
	}

	.services-nav-wrap {
		display: block;
	}
	.services-nav-item {
		width: 100%;
		margin-bottom: 20px;
	}
	.services-nav-item:last-child {
		margin-bottom: 0;
	}

	.products {
		display: block;
	}
	.product {
		width: 100%;
		margin: 0 auto 20px;
	}
	.product:nth-child(3n) {
		margin-right: auto;
	}
	.product:last-child {
		margin-bottom: 0;
	}

	.contacts-list {
		display: block;
	}
	.contacts-list li {
		width: 100%;
		margin: 0 auto 20px;
	}
	.contacts-list li:nth-child(3n) {
		margin-right: auto;
	}
	.contacts-list li:last-child {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 460px){
	.filter-services {
		justify-content: space-between;
	}
	.filter-services li {
		margin-right: 0;
	}

	.sertificates, .docs {
		display: block;
	}
	.sertificates li, .docs li {
		width: 100%;
		margin: 0 auto 20px;
	}
	.sertificates li:nth-child(4n), .sertificates li:nth-child(3n),
	.docs li:nth-child(4n), .docs li:nth-child(3n) {
		margin-right: auto;
	}
	.sertificates li:last-child, .docs li:last-child {
		margin-bottom: 0;
	}
	.sertificates li a img, .docs li a img {
		margin: 0 auto;
	}
	.sertificates li a p, .docs li a .name, .docs li a .size {
		text-align: center;
	}

	.gallery-list {
		display: block;
	}
	.gallery-list li {
		width: 100%;
		margin: 0 auto 20px;
	}
	.gallery-list li:nth-child(3n) {
		margin-right: auto;
	}
	.gallery-list li:last-child {
		margin-bottom: 0;
	}
	.gallery-list + .btn {
		margin-top: 20px;
	}

	.contacts-items {
		display: block;
	}
	.contacts-items .item {
		width: 100%;
		margin: 0 auto 20px;
	}
	.contacts-items .item:nth-child(4n), .contacts-items .item:nth-child(3n) {
		margin-right: auto;
	}
	.contacts-items .item:last-child {
		margin-bottom: 0;
	}
}